.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 30px;
    text-align: center;
  }

  .login {
    background-color: rgba(255, 255, 255, 0.604);
    height: 400px;
    width: 400px;
    padding: 50px;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 20px;

      input {
        height: 45px;
        width: 300px;
        padding-left: 10px;
      }

      button {
        background-color: transparent;
        font-size: 18px;
        height: 50px;
        width: fit-content;
        border: black solid 1px;
        padding: 0 20px;
        border-radius: 5px;
      }

      button:hover {
        background-color: rgba(0, 0, 0, 0.843);
        color: white;
      }
    }

    a {
      color: #c5141adc;
      font-weight: bold;
      text-align: center;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .signup-page {
    padding: 0 20px;
  }
}
