.character {
  .character-info {
    h2 {
      font-size: 150px;
      color: #ed181fdc;
    }

    p {
      font-size: 30px;
      color: white;
      padding-top: 40px;
    }
  }

  .character-comics {
    display: flex;
    overflow: scroll;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 50px;
    gap: 20px;
  }
}
