.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;

  .search-bar {
    height: 40px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.921);
    border: none;
    border-radius: 4px;
    padding-left: 10px;
  }

  button {
    background-color: transparent;
    border: none;
    color: white;
  }

  .selected {
    font-weight: bold;
  }
}
