.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;

  .search-bar {
    height: 45px;
    width: 500px;
  }

  button {
    background-color: transparent;
    border: none;
    color: white;
  }

  .selected {
    font-weight: bold;
  }
}
